.gradient {
    width: 750px;
    height: 750px;
    filter: blur(150px); /* 750px / 5 */
    background-image: linear-gradient(hsl(252, 100%, 68%), hsl(164, 98%, 39%));
    animation: rotate 20s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    position: absolute;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  
@media (min-width: 720px) {
    .gradient {
      width: 500px;
      height: 500px;
      filter: blur(100px); /* 500px / 5 */
    }
}
  

  
  
  