@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SometypeMono";
    src: url("/fonts/SometypeMono-Regular.ttf");
}

@font-face {
    font-family: "SpaceGrotesk";
    src: url("/fonts/SpaceGrotesk-Bold.ttf");
}

:root {
    font-family: "SometypeMono";
    
}

#root {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

